
body {
    background-color: #111111;
    color: #ffffff;
}

a {
    color: #48a6fd;
}

a:hover {
    color: #664ffb;
}
 .awesometab button:hover {
    color: white;
    background-color: #664ffb;
    border-radius:50px;
/*    transition: color 0.5s ease;*/
}
 .awesometab button {
    width: 10vw;
    height: inherit;
    background-color: #111111;
    color: #48a6fd;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 14px 16px;
    */
    transition: 0.3s;
    font-size: 1vw;
    font-weight:bold;
}
 .tabcontent {
    overflow: hidden;
    width: 50vw;
    height: 80vh;
    margin-left: 25vw;
    margin-top:5vh;
    background-color: #111111;
    color: #48a6fd;
    display: none;
    padding-left: 25vw;
    padding-right: 25vw;
    border: none;
    border-top: none;
    font-size:0.9vw;
    padding: 0;
    font-family: sans-serif;
}
